# Arquivos gerados pelo Node.js
node_modules/

# Arquivos de build
/build
/dist

# Arquivos de cache
.cache/
yarn-error.log
npm-debug.log*

# Arquivos de ambiente
.env.local
.env.development.local
.env.test.local
.env.production.local